/* MAIN.CSS IS GENERATED. EDIT MAIN.LESS. */
html {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
body {
  /*position:absolute; top:0; bottom:0; right:0; left:0;*/
  height: 100%;
  margin: 0;
  padding: 0 0 0 0;
  overflow-y: hidden;
}
* {
  outline: 0 !important;
}
.nav,
.nav ul {
  margin-bottom: 0;
}
.nav-tabs > .active > a,
.nav-tabs > .active > a:hover,
.nav-tabs > .active > a:focus {
  color: #ffffff;
  background-color: #0088cc;
  outline: none;
}
.banner {
  margin-top: 5px;
  margin-bottom: 10px;
}
